* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

header {
  background: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #222;
}

header h1 {
  font-size: 26px;
  font-weight: 700;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 10px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: #151515;
  border: 1px solid #222;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.info h3 {
  margin-bottom: 6px;
}

.preco {
  margin-top: 6px;
  font-weight: bold;
  color: #ffb638;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  background: #ffb638;
  padding: 10px 14px;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  transition: 0.3s;
}

.btn:hover {
  background: #ffca5c;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: #888;
  border-top: 1px solid #222;
}
